<!--img src="images/gra.jpg" width="100%"-->
<!--canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick">
</canvas-->

<div ng-controller="DbgCtrl as dbc">
    <!-- div ng-if="auth.isAdmin()">

    <p>
    Пишешь нужные данные и жмешь нужную кнопку. Если что-то надо изменить - меняешь и жмешь еще раз кнопку "раз в секунду" или "один раз". В этом случае цикл автоматически стопится и перезапускается если нужно (чтобы не было множеств экземпляров этого цикла), кнопка СТОП нужна для того чтобы прекратить цикл запроса.
    </p>
       <label class="col-sm-3 control-label">URL:</label><div class="col-sm-9"><input class="form-control input-lg" ng-model="dbc.dbgUrl" /></div>
       <label class="col-sm-3 control-label">action:</label><div class="col-sm-9"><input class="form-control input-lg" ng-model="dbc.dbgAction" /></div>
       <label class="col-sm-3 control-label">type:</label><div class="col-sm-9"><input class="form-control input-lg" ng-model="dbc.dbgType" /></div>
       <label class="col-sm-3 control-label">name:</label><div class="col-sm-9"><input class="form-control input-lg" ng-model="dbc.dbgName" /></div>

       <span class="btn-group">
            <button type="button" class="btn btn-lg btn-default" ng-click="dbc.once()">Хуйнуть один раз</button>
            <button type="button" class="btn btn-lg btn-info" ng-click="dbc.interval()">Хуярить раз в секунду</button>
            <button type="button" class="btn btn-lg btn-danger" ng-click="dbc.stop()">СТОП</button>
       </span>

       <h3>Кол-во запросов: {{ dbc.num }}</h3>
       <div class="col-xs-12">
       Ответ:
       <pre>{{ dbc.dbgStatus | json }}</pre>
       </div>
    </div-->
</div>