<div class="row" ng-controller="GetTreeCtrl">

<!--DIAG-->
	<!--div class="col-sm-6 col-md-4 col-lg-3"-->
  <div class="col-xs-12">
	  <ul id="tree-root" >
      <li>MODE: {{ fullTree.mode }}</li>
      <li>AUTO: {{ fullTree.auto }}</li>
	    <li>Modules:
       <ul>
        <li ng-repeat="(key,node) in fullTree.modules" ng-include="'nodes_renderer.html'" ng-init="level = 0"></li>
       </ul>
	    </li>
      <li>Sensors:
       <ul>
        <li ng-repeat="(key,node) in fullTree.sensors" ng-include="'nodes_renderer.html'" ng-init="level = 0"></li>
       </ul>
      </li>
	  </ul>
	</div>

	<div class="table1 col-sm-6 col-md-8 col-lg-9" ng-model="onTable">
		<div class="clearAll" ng-click="clearAll1()" ng-if="onTable.length>0">X</div>
		<div ng-repeat="node in onTable" class="item" ng-include="'nodes_ontable.html'">

	  </div>
	</div>
</div>

<pre>{{ Sensors.show() }}</pre>
<pre>{{ fullTree | json }}</pre>
<pre>{{ Sets.settings | json }}</pre>

<!--nodes_renderer-->
<script type="text/ng-template" id="nodes_renderer.html">
{{ node.name }} : {{ node.title }} <span class="val" ng-if="node.value"> : {{ node.value[0] }} {{ node.unit }}, </span><span class="validity">{{ node.value[1] }}</span>
</script>

<script type="text/ng-template" id="nodes_ontable.html">
  <span class="nodeTitle">{{node.title | translate}}</span>
  <span class="val" ng-if="node.value"> : {{node.value}}</span>
  <div ng-model="node.nodes">
    <div ng-repeat="node in node.nodes" ng-include="'nodes_ontable.html'">

    </div>
  </div>
</script>
