<!DOCTYPE html>
<html ng-app="obm" ng-strict-di>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="OBM Controlsystem web application">
  <meta name="author" content="Gregory Rozenbaum, Dmitriy Simakov">

  <title>OBM control server</title>
  <link rel="stylesheet" type="text/css" href="libs.css">
  <link rel="stylesheet" type="text/css" href="app.css">

  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-cloak ng-controller="TransCtrl">
  <div class="container">
    <div class="row">
      <div class="hidden-xs col-sm-3 infotrans-logo"><img src="images/infotrans.png"></div>
      <div class="col-sm-6 col-xs-12 heading">
        <h1>{{'MAIN_TITLE' | translate }} <span class="version">v0.9.5a<span ng-show="auth.isLoggedIn()"> Logged as <b>{{
                session.getUser().name }}</b></span></span></h1>
      </div>
      <div class="hidden-xs col-sm-3 sbb-logo">
        <img src="images/sbb.png">

      </div>
      <div class="date" ng-class="{'valid':TIME.valid}">{{ TIME.GetDate() + ' ' + TIME.tzone }}</div>
    </div>
  </div> <!-- /container -->

  <div class="container" ng-controller="MainCtrl as mc">
    <!--Ошибки-->
    <div class="row">
      <div class="col-xs-12">
        <div class="mainError" ng-if="mainError">{{ 'MAIN_ERROR' | translate }}</div>
        <div class="alarmError" ng-if="fullTree.odometer.mode == 1">WARNING! Emulator is active!</div>
      </div>
    </div>
    <div class="row">
      <!--Менюшка слева-->
      <div class="col-xs-2 col-sm-2 col-lg-1 ng-cloak" ng-hide="auth.isLoggedIn()"></div>
      <div class="col-xs-3 col-sm-3 col-lg-2 ng-cloak" ng-show="auth.isLoggedIn()">
        <ul class="nav nav-tabs tabs-left">
          <li ui-sref-active="active"><a ui-sref="home"><span class="icon main"> </span>{{ 'mainButton' | translate }}</a></li>
          <li ui-sref-active="active"><a ui-sref="power"><span class="icon power"> </span>{{ 'powerControlButton' |
              translate }}</a></li>
          <li ui-sref-active="active"><a ui-sref="odo"><span class="icon odo"> </span>{{ 'odoButton' | translate }}</a></li>
          <li ui-sref-active="active"><a ui-sref="diag"><span class="icon diag"> </span>{{ 'diagnosticsButton' |
              translate }}</a></li>
          <li ui-sref-active="active"><a ui-sref="schedule"><span class="icon schedule"> </span>{{ 'Scheduler' |
              translate }}</a></li>
          <li ui-sref-active="active"><a ui-sref="trends"><span class="icon signals"> </span>{{ 'signalsButton' |
              translate }}</a></li>
          <li ui-sref-active="active"><a ui-sref="alarms"><span class="icon alarms" ng-class="{'alarms_on':ALRM.getNum()>0}">
              </span>{{ '_alarms' | translate }} ({{ ALRM.getNum() }})</a></li>
          <li ui-sref-active="active"><a ui-sref="settings"><span class="icon settings"> </span>{{ 'Settings' |
              translate }}</a></li>
          <li ng-if="auth.isLoggedIn()"><a href="#" ng-click="auth.logOut()"><span class="icon logout"> </span>logout</a></li>
        </ul>
      </div>
      <div class="col-xs-9 col-sm-9 col-lg-10 main-view" ui-view>

      </div>
    </div>

  </div>

  <div class="container footer">
    <div class="row">
      <div class="col-sm-3 infotrans-logo">
        <div class="row language">
          <button class="btn button english" ng-click="changeLanguage('en')"></button>
          <!--button class="btn button german" ng-click="changeLanguage('de')"></button-->
        </div>

        <!--img src="images/langs.png"-->
      </div>
      <div class="col-sm-6 copyright">© 2017-2019 {{'SPC_INFOTRANS' | translate}} | <a href="http://infotrans-logistic.ru">{{'WEB_SITE'
          | translate}}</a></div>
      <div class="col-sm-3 sbb-logo"></div>
    </div>
  </div> <!-- /container -->


  <script src="libs.js"></script>
  <script src="app.js"></script>
</body>

</html>